@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../font/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Manrope', sans-serif;
    src: url('../font/Manrope/static/Manrope-Regular.ttf');
} */

:root {
    --text-primary: #041827;
    --text-secondary: #4A5A67;

    --theme-primary: #4743F5;
    --theme-secondary: #041827;
    --theme-base: #F5F7FC;
}

section {
    background-color: var(--theme-base);
}

/* font-color */
.text-primary {
    color: var(--text-primary, #041827);
}

body {
    font-family: 'Poppins', sans-serif;
}

/* .container {
    padding-left: 50px;
    padding-right: 50px;
} */

nav {
    /* background: rgba(245, 247, 252, 0.70); */
    backdrop-filter: blur(50px);
}


#hero {
    padding-top: 172px;
    background: linear-gradient(180deg, rgba(245, 247, 252, 0.00) 69.27%, #F5F7FC 100%), linear-gradient(90deg, #F6F6F6 0%, #EFF4FF 18.89%, #FFF5FC 47.22%, #F6FCF8 72.4%, #F5F7FC 100%);
    padding-bottom: 100px;
}

#hero h1 {
    color: var(--text-primary, #041827);
    font-family: Manrope;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.6px;
}

#hero p {
    color: var(--text-secondary, #4A5A67);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

#hero button {
    margin-top: 42px;
}

/* Design Systen */
h1 {
    color: var(--text-primary, #041827);
    font-family: Manrope;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1.6px;
}

h2 {
    color: var(--text-primary, #041827);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.96px;
}

h3 {
    color: var(--text-primary, #041827);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}

.sub-heading {
    color: var(--text-primary, #041827);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
}

.medium-text {
    color: #041827;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.reguler-text {
    color: var(--text-secondary, #4A5A67);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

/*  */
button {
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-primary {
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    border-radius: 4px;
    background: var(--theme-primary, #4743F5);
}

/* .button-primary {
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background: var(--theme-primary, #D0920B);
} */

.button-secondary {
    color: #041827;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
    border-radius: 4px;
    border: 1px solid var(--theme-secondary, #041827);
}


#introduction {
    padding-top: 40px;
    padding-bottom: 100px;
}

#introduction .iframe {
    margin-top: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services {
    margin-top: 100px;
}


#why {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-why {
    display: flex;
    padding: 36px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    border-radius: 10px;
    background: #F5F7FC;
    box-shadow: 0px 20px 100px 0px rgba(125, 120, 197, 0.10);
}


#portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    #hero {
        padding-top: 60px;
    }

    #hero h1 {
        font-size: 40px;
        line-height: 50px;
    }

    #hero p {
        font-size: 14px;
        line-height: 24px;
    }

    .hero-card {
        padding-top: 50px;
    }

    .hero1 {
        order: 2;
    }

    .hero2 {
        order: 1;
    }

    #introduction .iframe {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }


    footer {
        padding-bottom: 0;
    }

    footer .reguler-text {
        font-size: 14px;
    }

    footer .mt-24 {
        margin-top: 10px;
    }

    footer h3 {
        margin-top: 25px;
    }
}


/* footer */
footer {
    padding-top: 100px;
    padding-bottom: 50px;
    /* padding-bottom: 200px; */
}

.mt-24 {
    margin-top: 24px;
}

.icon-medsos {
    margin-right: 32px;
}